*,
::before,
::after {
  box-sizing: border-box;
}

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation
*    change, without disabling
*    user zoom.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
* Remove default margin.
*/
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   */
[hidden] {
  display: none;
}

/**
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.66667em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
* Address differences between Firefox and other browsers.
*/
hr {
  box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type='search'] {
  box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

html {
  font-size: 16px;
}

body {
  background-color: #faf8f4;
  color: #9fa9b2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #081a2b;
  font-weight: 700;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 .75rem;
}

h2,
h3 {
  line-height: 1.25;
}

h4,
h5,
h6 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.13;
  margin: 2rem 0 1.5rem;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.75rem;
    margin: 1.5rem 0;
  }
}

h1.page-title {
  margin-top: 0;
}

h2 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2rem;
}

@media (min-width: 992px) {
  h3 {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: 1.75rem;
}

@media (min-width: 992px) {
  h4 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  h5 {
    font-size: 1.75rem;
  }
}

h6 {
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin: 0 0 1.2rem;
}

a {
  color: #ef3340;
  display: inline;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #f1525d;
  text-decoration: none;
}

blockquote {
  border: 0;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  blockquote {
    margin: 2rem 0;
  }
}

blockquote * {
  color: #9fa9b2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.6;
}

@media (min-width: 992px) {
  blockquote * {
    font-size: 1.375rem;
  }
}

blockquote > p:first-child {
  display: block;
  margin-top: 0;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

mark,
.marker {
  background-color: #9fa9b2;
  color: white;
  float: right;
  font-size: 0.875rem;
  padding: .5rem;
}

summary {
  outline: none;
}

strong {
  font-weight: 700;
}

code,
kbd,
pre,
samp {
  font-size: 0.8125rem;
}

.breadcrumb {
  padding: 0;
}

.breadcrumb ol {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.breadcrumb li {
  color: #0a2239;
  font-size: 0.875rem;
}

.breadcrumb li:not(:last-child) {
  margin-right: .25rem;
}

.breadcrumb a {
  color: #ef3340;
  display: block;
}

.breadcrumb a:hover {
  color: #f1525d;
}

.button {
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0.625rem 1.5rem;
  transition: .2s;
  background-color: #ef3340;
  border-color: #ef3340;
  color: white;
}

@media (min-width: 992px) {
  .button {
    font-size: 0.9375rem;
  }
}

.button:hover {
  transition: .2s;
}

.button:hover {
  background-color: #0a2239;
  border-color: #0a2239;
  color: white;
}

.button--secondary {
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0.625rem 1.5rem;
  transition: .2s;
  background-color: transparent;
  border-color: #ef3340;
  color: #ef3340;
}

@media (min-width: 992px) {
  .button--secondary {
    font-size: 0.9375rem;
  }
}

.button--secondary:hover {
  transition: .2s;
}

.button--secondary:hover {
  background-color: #ef3340;
  border-color: #ef3340;
  color: white;
}

.button:disabled {
  opacity: .6;
  pointer-events: none;
}

.button:focus {
  outline: none;
}

.comment {
  margin-top: 1rem;
  overflow: hidden;
  padding-top: 1rem;
}

.comment:last-child {
  border: 0;
}

.comment__meta {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .comment__meta {
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 23.8%;
  }
}

.comment .content {
  border-bottom: 1px solid #d3d7db;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .comment .content {
    float: left;
    margin-left: 25.5%;
    margin-right: -100%;
    width: 74.5%;
  }
}

.comment .content > h3 {
  margin-bottom: 0;
}

form .form--inline {
  display: flex;
  flex-flow: row wrap;
}

form .form--inline > * {
  flex-grow: 1;
}

form .form--inline .form-item {
  float: none;
}

form .form--inline .form-item,
form .form--inline .form-actions {
  margin: 1rem .5rem 1rem 0;
}

form .captcha {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (min-width: 0) and (max-width: 479px) {
  form .captcha {
    transform: scale(0.73);
    transform-origin: right;
  }
}

form .form-actions {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 1.5rem 0;
  width: 100%;
}

form .form-actions > * {
  margin-bottom: .25rem;
  margin-left: .5rem;
  margin-right: 0;
  margin-top: 0;
}

form .form-actions .form-submit {
  order: 1;
}

form .form-item {
  margin: 1.5rem 0;
}

form .form-item .shs-container,
form .form-item .shs-widget-container {
  width: 100%;
}

form .form-item .shs-field-container {
  display: flex;
  flex-flow: row nowrap;
}

form .form-item .shs-field-container > *:not(:last-child) {
  margin-right: .5rem;
}

form .fieldset-legend,
form label {
  color: #d3d7db;
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 5px;
  text-transform: uppercase;
}

form .option {
  text-transform: none;
}

form fieldset {
  border-color: #d3d7db;
  padding: 1rem 1.5rem;
}

form input:placeholder {
  font-size: 0.875rem;
}

form input[type='search'] {
  box-sizing: border-box;
}

form input[type='button'], form input[type='submit'], form input[type='reset'] {
  white-space: normal;
}

form input[type='checkbox'], form input[type='radio'] {
  cursor: pointer;
}

form input[type='password'], form input[type='search'], form input[type='email'], form input[type='text'], form input[type='tel'] {
  background-color: white;
  border: 1px solid #d3d7db;
  font-size: 0.875rem;
  max-width: 100%;
  padding: .5rem;
  width: 100%;
}

form input[type='password']:hover, form input[type='search']:hover, form input[type='email']:hover, form input[type='text']:hover, form input[type='tel']:hover {
  border-color: #6c7a88;
}

form select,
form textarea {
  background-color: white;
  border: 1px solid #d3d7db;
  font-size: 0.875rem;
  max-width: 100%;
  min-height: 2.5rem;
  padding: .5rem;
  width: 100%;
}

form select:hover,
form textarea:hover {
  border-color: #6c7a88;
}

form select {
  appearance: none;
  background-position: 98% center;
  background-repeat: no-repeat;
  background-size: 1rem;
  font-size: 0.875rem;
  padding-right: 2rem;
  width: 100%;
}

form select.focus-animation {
  animation: focus 1s ease-in-out;
}

form select option {
  font-size: 0.875rem;
}

.description {
  color: #9fa9b2;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: normal;
  margin: .25rem 0;
}

.description * {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
}

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 0;
}

.form-type-radio input, .form-type-checkbox input {
  margin-right: 5px;
}

.password-strength {
  font-size: 0.75rem;
  margin: .5rem 0;
}

.field-suffix {
  margin-left: 5px;
}

.field-suffix .link {
  color: #0a2239;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  text-transform: uppercase;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0 .5rem .5rem 0;
}

.item-list ul {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-list ul li {
  margin-left: 0;
}

.tips {
  padding-left: 1.5rem;
}

ul {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list-style-arrows li {
  border-bottom: 1px solid #d3d7db;
  margin: 0.25rem 0;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

ul.list-style-squares li {
  margin: 1.25rem 0;
}

ul.links {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

audio,
canvas,
video {
  max-width: 100%;
}

ul.menu {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  padding: 0;
}

.messages {
  background-image: none;
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
  color: white;
  padding: 15px;
}

.messages--wrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.messages + .messages {
  margin: 0;
}

.messages--status {
  background-color: #3b9376;
}

.messages--warning {
  background-color: orange;
}

.messages--error {
  background-color: #c0392b;
}

.messages a {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

.pager {
  margin: 2rem 0;
}

.pager__items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}

.pager__item {
  border: 1px solid #d3d7db;
  font-size: 0.875rem;
  line-height: 1;
  margin: .15rem;
  padding: 0;
}

.pager__item * {
  font-size: inherit;
  line-height: inherit;
}

.pager__item--ellipsis {
  line-height: 1;
  padding: .75rem 1rem;
}

.pager__item.is-active a, .pager__item:hover a {
  background-color: #0a2239;
  color: white;
}

.pager__item a {
  color: #9fa9b2;
  cursor: pointer;
  display: block;
  padding: .75rem 1rem;
}

.progress {
  max-width: 100%;
}

.progress__track {
  background-color: white;
  background-image: none;
  border-color: #d3d7db;
  border-radius: 0;
}

.progress__bar {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), linear-gradient(to right bottom, #ef3340 0%, #ef3340 25%, #f25963 25%, #f25963 50%, #ef3340 50%, #ef3340 75%, #ef3340 100%);
  border-color: #ef3340;
  border-radius: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0 .1875rem;
  width: 100%;
}

table th,
table td {
  font-size: 0.875rem;
  padding: 1rem;
}

table th p,
table th ul,
table td p,
table td ul {
  margin: 0;
  padding: 0;
}

table th {
  background-color: #e7eaec;
  color: #7f878e;
  font-size: 0.75rem;
  font-weight: 700;
  padding: .75rem 1rem;
  text-align: left;
  text-transform: uppercase;
  vertical-align: top;
}

table tbody tr {
  background-color: white;
  box-shadow: inset 0 0 0 1px #e7eaec;
}

table tbody tr:hover {
  background-color: #f5f6f7;
}

nav.tabs .tabs {
  list-style-image: none;
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.tabs .tabs:not(:last-child) {
  margin-bottom: 1rem;
}

nav.tabs .primary {
  border-bottom: 1px solid #d3d7db;
  display: flex;
  flex-flow: row wrap;
}

nav.tabs .primary li {
  border-color: #6c7a88;
  border-width: 1px 1px 0;
  margin-right: .5rem;
}

nav.tabs .primary a {
  background-color: white;
  border-color: #d3d7db;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  color: #0a2239;
  padding: .75rem 2.5rem;
}

nav.tabs .primary a:hover, nav.tabs .primary a.is-active {
  background-color: #0a2239;
  color: white;
  transition: .2s;
}

nav.tabs .primary a:not(.is-active):not(:hover) {
  box-shadow: inset 0 -10px 10px -10px #d3d7db;
}

nav.tabs .secondary {
  display: flex;
  flex-flow: row wrap;
}

nav.tabs .secondary li {
  margin: 0;
}

nav.tabs .secondary a {
  align-items: center;
  border-bottom: 1px solid #9fa9b2;
  color: #9fa9b2;
  padding: .5rem 2rem;
  transition: .2s;
}

nav.tabs .secondary a.is-active, nav.tabs .secondary a:hover {
  background-color: transparent;
  border-color: #0a2239;
  color: #0a2239;
  transition: .2s;
}

.vertical-tabs__menu-item {
  background: white;
}

.vertical-tabs__menu-item a {
  color: #0a2239;
  font-size: 0.875rem;
  padding: 1rem;
}

.vertical-tabs__menu-item.is-selected, .vertical-tabs__menu-item:hover {
  background: #0a2239;
}

.vertical-tabs__menu-item.is-selected a, .vertical-tabs__menu-item:hover a {
  color: white;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title, .vertical-tabs__menu-item:hover .vertical-tabs__menu-item-title {
  color: white;
}

html,
body {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

@media (min-width: 0) and (max-width: 1199px) {
  body.is-frozen {
    overflow: hidden;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.layout-container > * {
  min-width: 0;
  width: 100%;
}

.layout-container > main {
  flex-grow: 1;
  padding: 1.5rem 15px;
  width: 100%;
}

.layout-container > main > a {
  color: transparent;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: block;
}

.layout-container .layout-wrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .layout-container .layout-wrapper {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.layout-container .layout-wrapper > * {
  min-width: 0;
  width: 100%;
}

@media (min-width: 0) and (max-width: 1199px) {
  .layout-container .layout-wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .layout-container .layout-wrapper .layout-content {
    flex-grow: 1;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .layout-container .layout-wrapper aside {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .layout-container .layout-wrapper aside.layout-sidebar-first {
    margin-right: 2.2%;
    order: -1;
  }
}

@media (min-width: 1200px) {
  .layout-container .layout-wrapper aside.layout-sidebar-second {
    margin-left: 2.2%;
  }
}

.search-block-form form {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.search-block-form form .form-type-search {
  margin: 0;
}

.search-block-form form .form-type-search input {
  padding: .25rem;
}

.search-block-form form .form-actions {
  margin-left: .5rem;
  position: relative;
}

.search-block-form form .form-submit {
  background: none;
  display: block;
  font-size: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 0;
}

.search-block-form form .form-submit:hover {
  background: none;
}

.block-local-tasks-block {
  margin-bottom: 1rem;
}

.block-system-branding-block {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.block-system-branding-block .site-logo {
  line-height: 1;
  margin-right: .5rem;
  z-index: 999;
}

@media (min-width: 0) and (max-width: 767px) {
  .block-system-branding-block .site-name {
    display: none;
  }
}

.block-system-branding-block .site-name a {
  color: white;
}

.block-system-branding-block .site-name a:hover {
  color: #d3d7db;
}

.block-system-powered-by-block span {
  color: #faf8f4;
}

.search-form {
  background-color: white;
  padding: 1rem 2rem;
}

.search-form .form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.search-form .form-wrapper div,
.search-form .form-wrapper label {
  display: block;
}

.search-form .form-wrapper .form-submit {
  align-self: flex-end;
}

.user-login-form {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.user-pass {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.user-register-form {
  background-color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.menu--footer .menu {
  display: flex;
  flex-flow: row wrap;
}

.menu--footer .menu a {
  align-items: center;
  color: #faf8f4;
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.menu--footer .menu a::after {
  background-color: #fbfaf7;
  content: '';
  display: block;
  height: 1px;
  margin-top: .5rem;
  transition: .2s;
  width: 0;
}

.menu--footer .menu a.is-active, .menu--footer .menu a:hover {
  color: #fbfaf7;
}

.menu--footer .menu a.is-active::after, .menu--footer .menu a:hover::after {
  transition: .2s;
  width: 100%;
}

.menu--main {
  border-bottom: 1px solid #faf8f4;
  border-top: 1px solid #faf8f4;
  padding: 1rem 0;
}

@media (min-width: 992px) {
  .menu--main {
    border: 0;
    padding: 0;
  }
}

.menu--main .menu {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .menu--main .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menu--main .menu a {
  align-items: center;
  color: #faf8f4;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 992px) {
  .menu--main .menu a {
    font-size: 0.875rem;
    font-weight: normal;
    padding: .5rem;
    text-transform: uppercase;
  }
}

.menu--main .menu a.is-active, .menu--main .menu a:hover {
  color: #ef3340;
}

.menu--main .menu a.is-active::after, .menu--main .menu a:hover::after {
  transition: .2s;
  width: 100%;
}

.breadcrumb-area {
  background-color: white;
  padding: 1rem 0;
}

.site-footer {
  background-color: #0a2239;
  padding: 2rem 0;
}

.site-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
}

.site-header > * {
  min-width: 0;
  width: 100%;
}

.help-area {
  background-color: transparent;
  padding: .5rem 0;
}

.highlighted-area {
  background-color: #faf8f4;
  padding: 2rem 0;
}

.main-navigation-area {
  background-color: #ef3340;
  padding: 1rem 0;
}

.pre-footer-area {
  background-color: #faf8f4;
  padding: 1.5rem 0;
}

.border-region .region,
.border-region main {
  outline: 0.125rem #0a2239 solid;
}

.sliding-panel-area {
  background-color: #0a2239;
  height: calc(100vh - 151px);
  max-width: 22.5rem;
  overflow-y: auto;
  padding: 2rem 15px;
  position: fixed;
  right: 0;
  top: 9.4375rem;
  transform: translateX(100%);
  transition: .5s ease-in-out;
  width: 100%;
  z-index: 9;
}

.sliding-panel-area.is-visible {
  transform: translateX(0);
  transition: .5s ease-in-out;
}

.toolbar-vertical .sliding-panel-area {
  height: calc(100vh - 190px);
  top: 11.875rem;
}

.top-bar {
  background-color: #081a2b;
  padding: .5rem 0;
}

.view .view-header {
  margin-bottom: 2rem;
}

.view .view-filters .views-exposed-form {
  background-color: white;
  box-shadow: 0 5px 19px 0 #ced3d7;
  margin-bottom: 2rem;
  padding: .5rem 2rem;
}

/*# sourceMappingURL=maps/main.css.map */
