// Grid
$layout: (
  width: 1140px,
  padding: 15px,
  gap: 30px
);

// Z index layers
$z-layers: (
  default: 1,
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070
);
