// Icomoon icons
$icons: (
  error-outline: '\e902',
  error: '\e903',
  warning-outline: '\e904',
  warning: '\e90c',
  marker: '\e907',
  tag: '\e908',
  calendar: '\e909',
  menu: '\e90b',
  email-outline: '\e90d',
  menu-down: '\e90e',
  menu-up: '\e90f',
  quote-end: '\e900',
  quote-start: '\e901',
  squares: '\e905',
  check: '\e906',
  chevron-down: '\e90a',
  chevron-left: '\e910',
  chevron-right: '\e911',
  chevron-up: '\e912',
  close: '\e913',
  search: '\e914',
  user: '\e915'
);
