// Footer.
$footer-background-color: $secondary-color

.layout-container
  > footer
    background-color: $footer-background-color

    .footer-wrapper
      align-items: center
      display: flex
      flex-flow: row wrap
      justify-content: space-between
