html,
body
  min-height: 100vh

body
  &.frozen-body
    overflow: hidden

// Base layout: Header, main content, footer.
.maintenance-page
  h1
    +margin-bottom(8)
    text-align: center

.toolbar-fixed.toolbar-horizontal
  .layout-container
    & > header
      +breakpoint(0 $medium)
        top: vmin-calc(60)

.has-secondary-menu
  .layout-container
    // Leave space for the fixed menu.
    padding-top: vw-calc(140)
    +breakpoint(0 $medium)
      padding-top: vmin-calc(96)

.layout-container
  display: flex
  flex-direction: column
  min-height: 100vh

  &.sliding-panel-visible
    > header
      background-color: $dark-blue

  // Header.
  > header
    width: 100%

    .top-bar
      padding: .5rem $container-padding

    .wrapper-header
      padding: $container-padding

    .region-top-bar,
    .site-header
      @extend .restricted-container

  // Breadcrumb.
  .site-breadcrumb
    padding: 1.5rem $container-padding

    .region-breadcrumb
      @extend .restricted-container

  // Main content.
  > main
    flex-grow: 1
    padding: $container-padding
    width: 100%

    .layout-wrapper
      @extend .restricted-container
      display: flex
      flex-direction: column
      +breakpoint($medium)
        flex-direction: row
        flex-wrap: wrap

      > *:not(:last-child)
        +breakpoint(0 $medium)
          +margin-bottom(16)

      .layout-content
        width: 100%
        +breakpoint($medium)
          flex-grow: 1
          width: 50%

      aside
        width: 100%
        +breakpoint($medium)
          width: 23.5%

        &.layout-sidebar-first
          +breakpoint($medium)
            margin-right: 1.5%
            order: -1

        &.layout-sidebar-second
          +breakpoint($medium)
            margin-left: 1.5%

  // Footer.
  > footer
    padding: $container-padding * 2 $container-padding

    .footer-wrapper
      @extend .restricted-container

.ie
  .layout-container
    display: block
